---
import Button from "./Button.astro";
import { SERVICES } from "../types/services";
const base = "/web-projects";
---

<div class="flex flex-col items-center px-16 relative" id="card-conteiner-el">
    {
        SERVICES.map(({ id, title, text }, index ) => (
            <div 
                class="card-el bg-theme-lights text-theme-purple shadow-theme-box py-12 px-14 rounded-3xl sticky border border-white/20 mb-40 max-w-[86%]" 
                style={`top: ${ 40 + index * 25 }px;`}
            >
                <h1 class="cards-title mb-8 border-b-2 border-theme-purple pb-8 text-4xl font-bold">
                    {title}
                </h1>
                <div class="flex flex-row justify-evenly items-center py-6">
                    <img 
                        class="w-56 aspect-square object-contain" 
                        src={`/servicesimg/${id}.png`} 
                        alt={`Icon for ${title}`}
                    />
                    <div class="flex flex-col w-1/2 justify-center">
                        <p class="prg mb-10 text-lg max-w-2xl">
                            {text}
                        </p>
                        <div class="w-1/2">
                            <Button href={`/services/${id}`} text="Let's grow" />
                        </div>
                    </div>
                </div>
            </div>
        ))
    }
</div>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    document.addEventListener("DOMContentLoaded", () => {
        gsap.registerPlugin(ScrollTrigger);

        const cards = gsap.utils.toArray(".card-el") as HTMLElement[ ];
        const totalCards = cards.length;
        
        cards.forEach((card, index) => {

            if ( index === cards.length - 1 ) return;
            const nextCard = cards[index + 1];
            const scaleFactor = 0.05; 
            const targetScale = 1 - ( totalCards - index ) * scaleFactor

            gsap.to(card, {
                scale: targetScale, 
                transformOrigin: "top center",
                ease: "none",
                scrollTrigger: {
                    trigger: cards[index + 1], 
                    start: "top 80%", 
                    end: "top 20%",
                    scrub: true,
                }
            });
        });
    });
</script>